<template>
    <a :href="link" class="transition duration-150 ease-in-out border-2 border-black text-black hover:bg-black hover:text-white p-2 rounded"><slot></slot></a>
</template>

<script>
export default {
    props:['link'],
    name:'rounded-link',
}
</script>