<template>
    <button class="transition duration-150 ease-in-out border-2 border-black text-black hover:bg-black hover:text-white py-2 px-4 rounded-full"><slot></slot></button>
</template>

<script>
export default {
    name:'rounded-button',
}
</script>