<template>
    <button @click="onClick" class="transition duration-150 ease-in-out border-2 border-white text-white hover:bg-white hover:text-black py-2 px-4 rounded-full"><slot></slot></button>
</template>

<script>
export default {
    name:'rounded-button-inverted',
    methods:{
        onClick(e){
            this.$emit('click', e)
        }
    }
}
</script>