<template>
    <input @input="onInput" name="name" class="my-2 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white " type="text" :value="value" :placeholder="placeholder">
</template>

<script>
export default {
    props:['placeholder','value'],
    name:'text-input',
    methods:{
        onInput(event){
            this.$emit('input', event.target.value)
        }
    }
}
</script>