<template>    
    <div class="w-full py-2" >
        <textarea v-model="value" name="message" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white " rows="4" cols="50" placeholder="Enter your message"></textarea>
    </div>
</template>

<script>
export default {
    data(){
        return{
            value:''
        }
    },
    name:'text-area-form',
    methods:{
        resetVal(){
            this.value = '';
        }
    },
    watch:{
        value(val){
            this.$emit('input', val)
        }
    }
}
</script>