<template>
    <div class="snap-container">
        <slot></slot>
    </div>
</template>

<script>
export default {
    name:'snap-scroll-container'
}
</script>

<style lang="scss">
body{
  margin: 0; 

  .snap-container{

    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    .snap-page {
      display: flex;
      flex-flow: column;
      
      width: 100vw;
      height: 100vh;
      scroll-snap-align: start;

    }

  }
}
</style>