<template>
    <div class="work-card">
        <h4 class="text-3xl pb-2">{{heading}}</h4>
        
        <p class="pb-4">{{description}}</p>
        <hr>
        <button @click="redirect" class="btn btn-outline-success btn-lg" type="submit"><i class="fas fa-link"></i></button>
    </div>
</template>

<script>
export default {
    name:'work-card',
    props:['heading', 'description', 'link'],
    methods:{
        redirect(){
            //redirect to project using the link
            window.open(this.link, "_blank");  
        }
    }
}
</script>

<style scoped lang="scss">
.work-card{
  height: 25vh;
  background-color: #DD9063;
  color:black;
  border-radius: 2vh ;
  padding: 3vh;
  width: 100%;
  transition: height 0.3s;
  /*&:hover{
    height: 27vh;
  }*/

  hr{
    padding: 0;
    margin: 0;
    border: 3px solid black;
    width:3vh;
    float: left;
  }

  .btn-outline-success{
      float:right;
      border-color:black;
      color: black;
      border-radius: 50% ;
      width:8vh;
      height:8vh;
      border: 2px solid black;
      &:hover{
          background-color: black;
          color:white;
      }

  }

  
}
</style>