<template>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="flex  md:h-screen mt-5 md:mt-0">
        <div class=" m-auto w-screen text-black  md:px-8 px-1 ">
            <h1 class="text-3xl font-semibold">About Me</h1>
            <hr>
            <br>
            <p class="md:text-md text-sm">
              I live and work in Johannesburg, South Africa. At my day job, 
              I develop & maintain a web & mobile based employee self service system for a well known south African payroll company. In my free time I enjoy building custom websites 
              and apps to better my skills & experience in the hopes to pursue my own IT business venture one day. 
            </p>

            <br>

            <p class="md:text-md text-sm" >
              My career has consistantly placed me at the intersection of creativity and logic and all projects 
              that I have been a part of have been great learning experiences for me. 
              I am confident in my skills as a full stack engineer and present myself well in corporate settings.  
            </p>

            <br>
          
            <p class="md:text-md text-sm">
              My formal software & design training (Bsc. Com Sci) has taught me to carefully consider my audience and carefully
              evaluate the experience I intend to create for my consumer. While my focus is mobile-first responsive websites with 
              Vue, Javascript, SASS, Java, etc...
              I often do mobile development using iOS SDK, Android SDK or Flutter. 
              Another big part of my skill set is my knowledge of CI/CD using either Docker, 
              gitlab CI/CD or AWS web services.
            </p>
        </div>
    </div>

    <div class="md:flex hidden  md:h-screen overflow-auto mr-28   py-32  mt-24 md:mt-0">
        <div class=" rounded-xl  m-auto w-screen text-black bg-gray-100 py-10 px-8 ">
          
          <h1 class=" text-3xl font-semibold">Front-End </h1>

          <h1 class="ml-10 mt-5">VueJs</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-green-300 relative w-5/6"></div>
          </div>

          <h1 class="ml-10 mt-5">Javascript</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-green-300 relative w-4/5"></div>
          </div>

          <h1 class="ml-10 mt-5">CSS & SASS</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-green-300 relative w-3/4"></div>
          </div>

          <h1 class="ml-10 mt-5">HTML</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-green-300 relative w-5/6"></div>
          </div>

          <h1 class="ml-10 mt-5">Angular</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-green-300 relative w-10"></div>
          </div>

          <h1 class="ml-10 mt-5">JQuery</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-green-300 relative w-2/4"></div>
          </div>

          <h1 class="ml-10 mt-5">Tailwind</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-green-300 relative w-11/12"></div>
          </div>

          <h1 class="ml-10 mt-5">Bootstrap</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-green-300 relative w-5/6"></div>
          </div>

          <h1 class="ml-10 mt-5">Buefy/Bulma</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-green-300 relative w-4/6"></div>
          </div>

          <h1 class="ml-10 mt-5">Flutter</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-green-300 relative w-1/2"></div>
          </div>

          <h1 class="pt-4 text-3xl font-semibold my-4">Back-End </h1>

          <h1 class="ml-10 mt-5">Java, JSP, Spring Boot, JavaFX, Android SDK, JUNIT</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-indigo-300 relative w-11/12"></div>
          </div>

          <h1 class="ml-10 mt-5">C#</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-indigo-300 relative w-4/6"></div>
          </div>

          <h1 class="ml-10 mt-5">Visual Basic</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-indigo-300 relative w-4/6"></div>
          </div>

          <h1 class="ml-10 mt-5">C++</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-indigo-300 relative w-2/6"></div>
          </div>

          <h1 class="ml-10 mt-5">Delphi</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-indigo-300 relative w-5/12"></div>
          </div>

          <h1 class="ml-10 mt-5">SQL</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-indigo-300 relative w-9/12"></div>
          </div>

          <h1 class="ml-10 mt-5">No SQL</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-indigo-300 relative w-9/12"></div>
          </div>

          <h1 class="ml-10 mt-5">Python</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-indigo-300 relative w-8/12"></div>
          </div>

          <h1 class="ml-10 mt-5">Objective-C, iOS SDK</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-indigo-300 relative w-3/12"></div>
          </div>

          <h1 class="pt-4 text-3xl font-semibold my-4">Dev Tools </h1>

          <h1 class="ml-10 mt-5">Jasper Reports / Jasper Studio</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-yellow-300 relative w-10/12"></div>
          </div>

          <h1 class="ml-10 mt-5">MS SQL Server, MySQL Server, MongoDB, SQLite, Sybase Server</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-yellow-300 relative w-10/12"></div>
          </div>

          <h1 class="ml-10 mt-5">Drupal CMS</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-yellow-300 relative w-4/12"></div>
          </div>

          <h1 class="ml-10 mt-5">Strapi CMS</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-yellow-300 relative w-5/12"></div>
          </div>

          <h1 class="ml-10 mt-5">ASP.NET</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-yellow-300 relative w-1/2"></div>
          </div>

          <h1 class="ml-10 mt-5">Docker & Amazon ECR</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-yellow-300 relative w-10/12"></div>
          </div>

          <h1 class="ml-10 mt-5">Gitlab CI/CD</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-yellow-300 relative w-9/12"></div>
          </div>

          <h1 class="ml-10 mt-5">Jenkins</h1>
          <div class="ml-10 h-3 relative max-w-xl rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute"></div>
              <div id="bar" class="transition-all ease-out duration-1000 h-full bg-yellow-300 relative w-1/2"></div>
          </div>
            
        </div>
    </div>

    

  </div>
</template>

<script>
export default {
  name: "about",
};
</script>

<style scoped>
hr{
  border: 3px solid #8BB5CE;
  width:3vh;
  
}

.skill-color{
  background-color: #9DB1BE;
}
</style>

