<template>
  <div class="flex">
    
    <div class="hidden md:flex h-screen justify-center items-center pl-6">
      <div class="flex flex-col text-white">
        <a href="https://www.linkedin.com/in/brendon-clark-b48a63159" target="_blank" class="m-auto mb-2"> <i class="fab fa-linkedin text-xl"></i></a>
        <a href="https://www.facebook.com/brendon.clark.9/" target="_blank" class="m-auto mb-2"> <i class="fab fa-facebook-square text-xl"></i></a>
        <a href="https://twitter.com/mepuredanger" target="_blank" class="m-auto "><i class="fab fa-twitter-square text-xl"></i></a>
      </div>
    </div>

    <div class="px-6 md:px-52 ">
      
      <div class="justify-center hidden md:flex">
        <img src="../assets/img/brendon_face_bw.jpg" class=" object-scale-down h-48 w-full" />
      </div>

      <br>

      <p class="text-white">
        Hi Im Brendon, I live and work in Johannesburg, South Africa. At my day job, 
        I develop & maintain a web & mobile based employee self service system for a well known south African payroll company. In my free time I enjoy building custom websites 
        and apps to better my skills & experience in the hopes to pursue my own IT business venture one day. 
      </p>

      <br>

      <p class="text-white">
        My career has consistantly placed me at the intersection of creativity and logic and all projects 
        that I have been a part of have been great learning experiences for me. 
        I am confident in my skills as a full stack engineer and present myself well in corporate settings.  
      </p>

      <br>
     
      <p class="text-white">
        My formal software & design training has taught me to carefully consider my audience and carefully
        evaluate the experience I intend to create for my consumer. While my focus is mobile-first responsive websites with 
        Vue, Javascript, SASS, Java, etc...
        I often do mobile development using iOS SDK, Android SDK or Flutter. 
        Another big part of my skill set is my knowledge of CI/CD using either Docker, 
        gitlab CI/CD or AWS web services.
      </p>
      
    </div>

    <div class="hidden md:flex flex-col py-10 pr-6 text-white">
      <a href="https://drive.google.com/file/d/1jRONQKat2x6OrB7qnq9HNT6YEewVVqWb/view?usp=sharing" target="_blank" class="">RESUME</a>
      <div class="flex h-full justify-center items-end">
        <a href="#contact" class="">CONTACT</a>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "bio",
};
</script>

