<template>
    <div class="flex md:h-screen md:mt-0">

        <div class=" m-auto w-screen text-black  md:px-40 px-0 md:pt-28 pt-10 ">
            <h1 class="text-3xl font-semibold">Got a great idea or want to keep in touch?</h1>
            <p>Drop me a message :)</p>
            
            <br>

            <form id="emailForm" ref="emailForm" @submit.prevent="onSendEmail">
                <div class="flex gap-4">
                    <text-input placeholder="Enter your name" v-model="email.name" />
                    <email-input placeholder="Enter your email" v-model="email.email"/>
                </div>
                
                <text-area-form ref="txtAreaForm" v-model="email.message"/>

                <input type="submit" value="Send Message" class="transition duration-150 ease-in-out border-2 bg-transparent border-black text-black hover:bg-black hover:text-white py-2 px-4 rounded"/>

            </form>
        </div>

    </div>
</template>

<script>

import TextInput from '../components/Form/TextInput.vue'
import TextAreaForm from '../components/Form/TextAreaForm.vue'
import EmailInput from '../components/Form/EmailInput.vue'
import emailjs from 'emailjs-com';

export default {
    components: { TextInput, TextAreaForm, EmailInput },
    name:'contact',
    data(){
        return{
            email:{}
        }
    },
    methods:{
        onSendEmail(){
            emailjs.sendForm('service_ym75ebn', 'template_75jmyuw', this.$refs.emailForm, 'user_Ogx4iUncjY9Im24oH8B92',this.email)
            .then((result) => {
                this.email = {};
                this.$refs.txtAreaForm.resetVal(); 
                this.$alert("Message received!",'Thanks!', 'success');
                console.log('SUCCESS!', result.status, result.text);
            }, (error) => {
                console.log('FAILED...', error);
            });
        }
    }
}
</script>