<template>
  <div>
    
    <snap-scroll-container>
      <snap-scroll-page id="intro">
        <nav-bar  />
        <intro/>
      </snap-scroll-page>

      <snap-scroll-page id="bio">
        <about/>
      </snap-scroll-page>
      
      <!--<snap-scroll-page id="work">
        <recent-work/>
      </snap-scroll-page>-->

      <snap-scroll-page-fluid id="contact" >
        <contact class="px-4"/>
        <contact-footer/>
      </snap-scroll-page-fluid>

    </snap-scroll-container>

    <div class="fixed bottom-0 right-0 z-50 md:m-10 mb-14 mr-5">
      <div class="flex flex-col text-black">
        <a href="https://www.linkedin.com/in/brendon-clark-b48a63159" target="_blank"> <i class="fab fa-linkedin text-3xl"></i></a>
      </div>
    </div>

  </div>
</template>

<script>
import About from './About.vue'
import ContactFooter from '../components/Footer/ContactFooter.vue'
import NavBar from '../components/Nav/NavBar.vue'
import SnapScrollContainer from '../components/SnapScroll/SnapScrollContainer.vue'
import SnapScrollPage from '../components/SnapScroll/SnapScrollPage.vue'
import SnapScrollPageFluid from '../components/SnapScroll/SnapScrollPageFluid.vue'
import Contact from './Contact.vue'
import Intro from './Intro.vue'
//import RecentWork from './RecentWork.vue'

export default {
  components: { SnapScrollContainer, SnapScrollPage,NavBar, Intro, Contact, ContactFooter, SnapScrollPageFluid, About },
  name:'Home'
}
</script>

<style scoped lang="scss">
#intro{
  background-color: #DADCE0
}

#bio{
  background-color:#DADCE0
}

#work{
  background-color: rgb(239, 160, 116)
}

#contact{
  background-color:#DADCE0
}

</style>
