<template>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex  md:h-screen">
            <div class=" m-auto w-screen  md:px-24 sm:px-5 ">
                
                <img src="../assets/img/bc_profile_bw.jpg" class=" rounded-xl"/>
            </div>
        </div>
        <div class="flex md:h-screen ">
            <div class=" m-auto w-screen   ">
                <h1 class="text-xl md:text-7xl pb-4 font-semibold">Software & DevOps Engineer</h1>
                <p class="text-md mr-0 md:mr-32 font-light">Driven by a passion for designing and developing compelling software products that exceed expectations. Learn more about me below. </p>
                <br>
                <a :href="resume_url" target="_blank" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border rounded "><i class="far fa-file-alt"></i> My Resume</a>
            </div>
        </div>
    </div>
</template>

<script>
import Constants from '../assets/js/Constants'

export default {
    name:'into',
    data(){
        return {
            resume_url:Constants.RESUME
        }
    }
}
</script>