<template>
    <div class="m-4">
        <h1 class="text-4xl">Recent Work</h1>
        <br>
        <br>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <work-card heading="Online Store" description="Online store WIP (2020)"></work-card>
            <work-card heading="Small online store" description="Small store example (2020)"></work-card>
            <work-card heading="Quoting Software" description="Freelance quoting software project"></work-card>
        </div>
        
    </div>
</template>

<script>
import WorkCard from '../components/Card/WorkCard.vue'
export default {
  components: { WorkCard },
    name:'recent-work'
}
</script>