<template>
    <div class="flex h-full items-end ">
        <div class=" h-30 w-screen">
            <div class="flex">
                <div class="text-gray-400  px-8 py-4">
                    <p><i class="fas fa-envelope"></i> contact@brendonc.co.za</p>
                </div>
            </div>

            <div id="copyright" class="flex justify-center  text-gray-400 ">
                &copy; Copyright 2021 | Designed & Developed by Brendon Clark
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:'contact-footer'
}
</script>

<style >
#copyright{
    background-color:rgb(26, 29, 32)
}
</style>

