<template>
    <div>
        <div class="flex">
            <div class="flex-none py-2">
                <a href="#intro"><img src="../../assets/img/bc_logo.svg" class="w-44 h-auto"/></a>
            </div>
            <div class="flex-grow"></div>
            <div class="flex-none pt-4">
                <div class="hidden md:flex">
                    <a href="#bio" class="mx-3 hover:text-gray-500 pt-3">About</a>
                    <a :href="resume_url" target="_blank" class="mx-3 hover:text-gray-500 pt-3">Resume</a>
                    <rounded-link class="mx-3" link="#contact">Say hello!</rounded-link>
                </div><!--desktop-->

                <div class="flex md:hidden">
                    <button class=" pt-2 rounded-lg focus:outline-none focus:shadow-outline" @click="(mobi_nav)? mobi_nav = false : mobi_nav = true">
                        <svg fill="black" viewBox="0 0 20 20" class="w-6 h-6">
                        <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="md:hidden flex flex-col" v-if="mobi_nav">
            <a href="#bio" class=" p-3  text-black hover:bg-black hover:text-white" @click="mobi_nav=false">About</a>
            <a :href="resume_url" @click="mobi_nav=false" target="_blank" class="p-3  text-black hover:bg-black hover:text-white">Resume</a>
            <a href="#contact" class="p-3 text-black hover:bg-black hover:text-white" @click="mobi_nav=false">Contact</a>
        </div><!--mobile-->
    </div>
</template>

<script>
import RoundedLink from '../Button/RoundedLink.vue'
import Constants from '../../assets/js/Constants'

export default {
  components: {RoundedLink },
  name:'nav-bar',
  data(){
      return {
          mobi_nav:false,
          resume_url: Constants.RESUME
      }
  }
}
</script>